body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

#map {
  height: 100vh;
  width: 100vw;
}
#tempo { display: inline-flex; align-items: center; gap: 8px; }
#tempo img { width: 20px; height: 20px; }

